@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.top-destination-container{
    background-image: linear-gradient(rgba(0, 190, 172, 1),
        rgba(0, 190, 172, 0));
        position: relative;
}
.top{
    font-family: 'Allison', cursive;
    font-size: 140px;
    color: rgba(255, 214, 0, 1);
    position: absolute;
    top: 7%;
    left: 46%;
}
.top-header{
    font-family: Circular Std;
    font-size: 80px;
    font-weight: 900;
    color: white;
}
.top-description-div{
    display: flex;
    justify-content: center;
}
.top-description{
    width: 50%;
    text-align: center;
    font-family: Circular Std;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    ;
}
.top-hr-container{
    display: flex;
    justify-content: center;
}
.top-hr{
    margin-top: 10px;
    width: 22px;
    background-color: #41D6C7;
    border: 1px solid #38bdaf;
    padding: 5px;
    border-radius: 7px;
    
}
.img{
    
    height: 335px;
    width: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: Circular Std;
}
.top-des-name{
    font-size: 30px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 60%;
    left: 25%;
}
.top-des-location{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 60%;
    left: 29%;
}